@import "bootstrap/scss/bootstrap.scss";

.stats-container {
    height: 350px;
    overflow-y: scroll;
}

.stats-table {
    @extend .table;
    @extend .table-sm;

    td, th {
        text-align: center;   
    }
}
