button {

    // &:focus {
    //     outline: none;
    // }

    // &:hover {
    //     outline: none;
    // }

    background: 0;
    border: 0;
    height: 120px;
    width: 50%;
    float: left;
    cursor: pointer !important;

    .fa {
        font-size: 80px;
        display: block;
        margin-bottom: 20px;
    }

    &.win {
        color: #15a015;
    }

    &.lose {
        color: #ff1515;
    }

    &.draw {
        color: #1515ff;
    }
}
