@import "bootstrap/scss/bootstrap.scss";

.btn-play {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  @extend .btn-block;
  height: 60px !important;
}


.icons-row {
  padding: 35px;
  padding-bottom: 10px;
  padding-top: 10px;
  overflow: auto;
  white-space: nowrap;
  position: relative;
}

.round-result {
  @extend .shadow-sm;
  @extend .bg-white;
  @extend .rounded;
  @extend .font-italic;
  @extend .text-center;
}

.btn-reset {
  @extend .btn;
  @extend .float-right;
  @extend .btn-link;
  text-align: right !important;
  padding-right: 35px !important;
  height: 20px !important;
}