.App {
  align-items: center !important;
  justify-content: center !important;
  display: flex !important;
}

.main-container {
  display: block;
  width: 70%;
  background-color: transparent;
  height: 742px;
  min-width: 350px;
}

.view-container {
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.35);
  border: 0;
  padding-bottom: 30px;
  height: 742px;
  background-color: white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.my-body {
  padding: 25px;
}

.my-header {
  border: 0px;
  margin: 0px;
  border-radius: 5px 5px 0 0;
  justify-content: left;
  align-items: center;
  height: 85px;
  text-align: left;
  font-size: 18px;
  padding: 30px 35px;
}

.right {
  float: right;
}

.left {
  float: left;
}