
html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  background-color: #f3f4f5;
  cursor: default;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  border: 0px;
  margin-left: 0px;
  background-image: linear-gradient(-180deg, #22bdec 45%, #5abfc8 85%);
  width: 100%;
  height: 100%;
}